 body{
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
 } 
 *{
    font-family: cursive;
    box-sizing: padding-box;
 }
 form{
    width: 1000px;
    border: 3px solid black;
    padding: 20px;
    background: yellow;
    border-radius: 20px;
 }
 h2{
    text-align: center;
    margin-bottom: 40px;
 }
 input{
    display: block;
    border: 2px solid white;
    width: 55%;
 }